.header {
  width: 100%;
  background-color: azure;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 80%;
  }

  &__list {
    margin-left: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
  }
}
