.header {
  &__link {
    text-decoration: none;
  }

  &__user {
    color: #0dfdc1;
    font-size: large;
    margin: 0;
    text-align: center;
  }
}

.me-auto {
  align-items: center;
}
